<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.kenevans.android.blecardiacmonitor">

    <uses-feature
        android:name="android.hardware.bluetooth_le"
        android:required="false" />

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/blecardiacmonitor"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="net.kenevans.android.blecardiacmonitor.DeviceMonitorActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="net.kenevans.android.blecardiacmonitor.DeviceScanActivity"
            android:label="@string/title_activity_device_scan"
            android:parentActivityName="net.kenevans.android.blecardiacmonitor.DeviceMonitorActivity"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="net.kenevans.android.blecardiacmonitor.PlotActivity"
            android:label="@string/title_activity_plot"
            android:parentActivityName="net.kenevans.android.blecardiacmonitor.DeviceMonitorActivity"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="net.kenevans.android.blecardiacmonitor.SessionManagerActivity"
            android:label="@string/title_activity_session_manager"
            android:parentActivityName="net.kenevans.android.blecardiacmonitor.DeviceMonitorActivity"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity
            android:name="net.kenevans.android.blecardiacmonitor.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:theme="@android:style/Theme.Holo" >
        </activity>
        <activity android:name=".InfoActivity" android:label="@string/help_title">
        </activity>

        <service
            android:name="net.kenevans.android.blecardiacmonitor.BCMBleService"
            android:enabled="true" >
        </service>
    </application>

</manifest>
